#bodyCategories {
    margin: 0;
    padding: 0;
}


#bodyCategories #container {
    color: #266886;
    font: 13px "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    padding: 0;
    width: 771px;
}


#bodyCategories #footer {
    margin: 50px auto 0 auto;
    padding: 0;
}

#bodyCategories .demo_jui {
    margin: 30px auto 0 auto;
}

#bodyCategories .big {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    color: #4E6CA3;
}

#bodyCategories .spacer {
    height: 20px;
    clear: both;
}

#bodyCategories .clear {
    clear: both;
}

#bodyCategories pre {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

#bodyCategories h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    clear: both;
}

#bodyCategories ul {
    color: #4E6CA3;
}

.css_right {
    float: right;
}

.css_left {
    float: left;
}

.demo_links {
    float: left;
    width: 50%;
    margin-bottom: 1em;
}

#demo_info {
    padding: 5px;
    border: 1px solid #B0BED9;
    height: 100px;
    width: 100%;
    overflow: auto;
}

#bodyCategories code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px !important;
    white-space: nowrap;
    font-size: 0.9em;

    color: #D14;
    background-color: #F7F7F9;

    border: 1px solid #E1E1E8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.titleCategories{
    background: url("../Images/Icons/categoriesIcon.png") no-repeat #ACC3CB;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    background-position: left 3px;
}

.dataTableEditRemove{
    width:20px; 
    height:20px; 
    float: right;
}

#successMessages{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px #333333;
    color: blue;
    left: 5%;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    text-shadow: 5px 7px 10px blue;
    width: 90%;
    z-index: 1000;
    top: 35%;
}
#errorMessages{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px #333333;
    color: red;
    left: 5%;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    text-shadow: 5px 7px 10px red;
    width: 90%;
    z-index: 1000;
    top: 35%;
}


/*Edit page*/
#divEditCate{
    color: #266886;
    font: 80%/1.45em "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    padding: 0;
    width: 771px;
}

.divMainEditCate{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 5px 5px 10px #CCCCCC;
    margin: 20px 10px;
    overflow: hidden;
    padding: 10px 5px;
}
.titleEditCategories{
    background: url("../Images/Icons/add.png") no-repeat scroll left 5px #C4DBE3;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 10px 35px;
    text-align: left;
}
.addEditCateContent{
    border: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #DDDDDD;
    margin: 20px 10px;
    padding: 20px 10px 30px 50px;
}
.addEditCateContent table{
    color: #266886;
}

.error{
    color: red;
    font-size: 10px;
}

#divEditCate table tr{
    border-bottom: 1px solid #F2F2F2;
}


#divPopup{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    display: none; 
    overflow: hidden; 
    top: 0;
    left: 0;
    z-index: 1051;
}
.backgroundPopup{
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 1051;
}
#divUploadFileImage{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 7px 7px 14px #151515;
    height: 560px;
    margin: auto;
    position: fixed;
    top: 30px;
    width: 996px;
    z-index: 1051;
}

#btnAddCate{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #266886;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.divContent{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 10px #999999;
    height: 545px;
    margin: 8px;
    overflow: hidden;
}
#pUpload{
    border: 1px solid #F1F1F1;
    border-radius: 5px 5px 5px 5px;
    color: #73A3B4;
    margin: 14px 14px 0 14px;
    overflow: hidden;
    padding: 0 15px;
    width: 935px;
}
#profile_pic{
    margin: 0 auto;
    width: 450px;
    height: 450px;
}
#profile_pic li{
    list-style-type: none;
}
#thumb{
    width: 450px;
    height: 450px;
    border: 1px solid #DDDDDD;
}
.lblSelectUpload{
    background: none repeat scroll 0 0 #DADADA;
    border: 1px solid #C5C5C5;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
    text-shadow: 2px 2px 2px #FFFFFF;
}
#mestatus{
    color: red;
    font-size: 12px;
    padding-left: 15px;
}
#cbBannerStatus{
    margin: 10px 0;
}
.btnSubmit{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #BCBCBC;
    color: #266886;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 50px 10px 0;
    padding: 5px 30px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}