#bodyIdManager {
    margin: 0;
    padding: 0;
}


#bodyIdManager #container {
    color: #266886;
    font: 13px "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    padding: 0;
    width: 771px;
}


#bodyIdManager #footer {
    margin: 50px auto 0 auto;
    padding: 0;
}

#bodyIdManager .demo_jui {
    margin: 30px auto 0 auto;
}

#bodyIdManager .big {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    color: #4E6CA3;
}

#bodyIdManager .spacer {
    height: 20px;
    clear: both;
}

#bodyIdManager .clear {
    clear: both;
}

#bodyIdManager pre {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

#bodyIdManager h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    clear: both;
}

#bodyIdManager ul {
    color: #4E6CA3;
}

.css_right {
    float: right;
}

.css_left {
    float: left;
}

.demo_links {
    float: left;
    width: 50%;
    margin-bottom: 1em;
}

#demo_info {
    padding: 5px;
    border: 1px solid #B0BED9;
    height: 100px;
    width: 100%;
    overflow: auto;
}

#bodyIdManager code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px !important;
    white-space: nowrap;
    font-size: 0.9em;

    color: #D14;
    background-color: #F7F7F9;

    border: 1px solid #E1E1E8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.titleCategories{
    background: url("../Images/Icons/categoriesIcon.png") no-repeat #EBF3F3;
    background-size:32px 32px;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    background-position: left 3px;
    text-transform: capitalize;
}

.dataTableEditRemove{
    width:20px; 
    height:20px; 
    float: right;
}

#successMessages{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px #333333;
    color: blue;
    left: 5%;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    text-shadow: 5px 7px 10px blue;
    width: 90%;
    z-index: 1000;
    top: 35%;
}
#errorMessages{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px #333333;
    color: red;
    left: 5%;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    text-shadow: 5px 7px 10px red;
    width: 90%;
    z-index: 1000;
    top: 35%;
}


/*Edit page*/
#divEditCate{
    color: #266886;
    width: 771px;
}

.divMainEditCate{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 5px 5px 10px #CCCCCC;
    margin: 20px 10px;
    overflow: hidden;
    padding: 10px 5px;
}
.titleAddCategories{
    background: url("../Images/Icons/add.png") no-repeat scroll left 2px #EBF3F3;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    text-transform: capitalize;
}
.titleEditCategories{
    background: url("../Images/Icons/edit_Pencil.png") no-repeat scroll left 2px / 32px 32px #EBF3F3;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    text-transform: capitalize;
}
.addEditCateContent{
    border: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #DDDDDD;
    margin: 20px 10px;
    padding: 20px 10px 30px 50px;
}
.addEditCateContent table{
    color: #266886;
}

.error{
    color: red;
    font-size: 10px;
}

#divEditCate table tr{
    border-bottom: 1px solid #F2F2F2;
}


#divPopup{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    display: none; 
    overflow: hidden; 
    top: 0;
    left: 0;
    z-index: 1051;
}
.backgroundPopup{
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 1051;
}
#divUploadFileImage{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 7px 7px 14px #151515;
    height: 560px;
    margin: auto;
    position: fixed;
    top: 30px;
    width: 996px;
    z-index: 1051;
}

#btnAddCate{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #266886;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.divContent{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 10px #999999;
    height: 545px;
    margin: 8px;
    overflow: hidden;
}
#pUpload{
    border: 1px solid #F1F1F1;
    border-radius: 5px 5px 5px 5px;
    color: #73A3B4;
    margin: 14px 14px 0 14px;
    overflow: hidden;
    padding: 0 15px;
    width: 935px;
}
#profile_pic{
    margin: 0 auto;
    width: 450px;
    height: 450px;
}
#profile_pic li{
    list-style-type: none;
}
#thumb{
    width: 450px;
    height: 450px;
    border: 1px solid #DDDDDD;
}
.lblSelectUpload{
    background: none repeat scroll 0 0 #DADADA;
    border: 1px solid #C5C5C5;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
    text-shadow: 2px 2px 2px #FFFFFF;
}
#mestatus{
    color: red;
    font-size: 12px;
    padding-left: 15px;
}
#cbBannerStatus{
    margin: 10px 0;
}
.btnSubmit{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D5D7D5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px #BCBCBC;
    color: #266886;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 50px 10px 0;
    padding: 5px 30px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

/*product*/

.titleProducts{
    background: url("../Images/Icons/productIcon.png") no-repeat #EBF3F3;
    background-size:32px 32px;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    background-position: left 3px;
    text-transform: capitalize;
}

.divMainAddAndEdit{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 5px 5px 10px #CCCCCC;
    margin: 20px 10px;
    overflow: hidden;
    padding: 10px 5px;
}
.titleAddAndEdit{
    background: url("../Images/Icons/add.png") no-repeat scroll left 2px #EBF3F3;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    text-transform: capitalize;
}
.AddAndEditContent{
    border: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #DDDDDD;
    margin: 20px 10px;
    padding: 20px 10px 30px 50px;
    overflow: hidden;
}

.divMainAddAndEdit table{
    width: 100%;
    color: #266886;
}

.divMainAddAndEdit table tr{
    height: 40px;
}
#divListFileSlide{
    border: 1px dotted #4385F4;
    float: left;
    max-width: 205px;
    overflow: hidden;
}
#divListFileSlide span{
    margin: 5px 0;
    float: left;
}
#btnAddNewFile{
    background: none repeat scroll 0 0 #2365D4;
    border: 1px solid #BABABA;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 1px;
    padding: 2px 0;
    text-align: center;
    width: 200px;
}

#popupViewProduct{
    background: none repeat scroll 0 0 black;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}

.ViewContents{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #541992;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px;
    height: 601px;
    left: 200px;
    overflow: hidden;
    color: #666666;
    position: fixed;
    top: 20px;
    width: 960px;
    z-index: 1051;
    display: none;
}

.ViewContents h1{
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    text-transform: capitalize;
    color: #541992;
    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #2C94FF, #FAFAFA);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #2C94FF, #FAFAFA);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #2C94FF, #FAFAFA);
}
.ViewContentDetails{
    border: 1px solid #CCD7E2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #E2E2E2;
    height: 485px;
    margin: 10px auto;
    width: 800px;
    overflow: scroll;
}
.ViewContents table{
    margin: 10px;
    width: 98%;
}
.ViewContents table tr th{
    border-bottom: 1px solid #F1F1F1;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
}
.ViewContents table tr td{
    border-bottom: 1px solid #F1F1F1;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
}
.divSlideImages{
    overflow: hidden;
}
.imageSlide{
    width: 175px;
    height: 115px;
    border: 1px solid #666666;
    margin: 10px 0 0 2px;
    float: left;
}
.spanDescription{
    float: left;
    font-size: 13px;
    text-align: justify;
    width: 98%;
}
.iconCloseImageSlideProduct{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;
    color: red;
    float: left;
    margin-left: -23px;
    margin-top: 10px;
    opacity: 0.4;
    padding: 0 5px;
}
.iconCloseImageSlideProduct:hover{
    opacity: 0.7;
}

.titleBrand{
    background: url("../Images/Icons/brand.png") no-repeat #EBF3F3;
    background-size:32px 32px;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    background-position: left 3px;
    text-transform: capitalize;
}

.btnAddNew{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #266886;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.titleGallery{
    background: url("../Images/Icons/gallerymanager.png") no-repeat #EBF3F3;
    background-size:32px 32px;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    background-position: left 3px;
    text-transform: capitalize;
}
.titleSettings{
    background: url("../Images/Icons/advancedsettings.png") no-repeat scroll left 2px #EBF3F3;
    background-size:32px 32px;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #CCCCCC;
    color: #032E3E;
    font-size: 20px;
    margin: 5px 10px;
    padding: 5px 35px;
    text-align: left;
    text-transform: capitalize;
}
#h2AddnewImage{
    background: none repeat scroll 0 0 #EBF3F3;
    border: 1px solid #B2B2B2;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 10px #E2E2E2;
    color: #032E3E;
    font-size: 1.2em;
    line-height: 1.6em;
    margin: 0 0 20px -40px;
    text-align: center;
}
.divShowImageSlideContent{
    border: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 10px #DDDDDD;
    margin: 20px 10px;
    padding: 20px 0;
    overflow: hidden;
}
.titleImageSlide{
    background: none repeat scroll 0 0 #EBF3F3;
    border: 1px solid #666666;
    float: left;
    font-size: 11px;
    margin-left: 2px;
    padding: 5px 5px 2px;
    text-align: center;
    width: 165px;
}
.iconSettingsImageSlideProduct{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;
    color: red;
    float: left;
    margin-left: -47px;
    margin-top: 10px;
    opacity: 0.4;
    padding: 0 4px;
}
.iconSettingsImageSlideProduct:hover{
    opacity: 0.7;
}
.divItemSlide{
    height: 150px; 
    overflow: hidden; 
    width: 179px; 
    float: left;
}

#divMore{
    background: none repeat scroll 0 0 #EBF3F3;
    border: 1px solid #CDCDCD;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    padding-top: 2px;
    text-align: center;
    width: 94%;
    border-radius: 3px;
}
#divMore:hover{
    background: #3399ff;
    color: #FFFFFF;
    border: 1px solid #3399ff;
}