body{
    background-color: #2F2727;
    background-position: center center;
    background-repeat: no-repeat;

    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    margin: 0;
    padding: 0;
    line-height: 20px;
}

header{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    min-height: 69px;
    overflow: hidden;
    width: 996px;
    box-shadow: 0 0 20px #000000;
}
header a{
    color: #2B7C98;
}
header a:hover{
    color: #2B7C98;
    text-decoration: underline;
}
.logo{
    background-image: url("../../Media/Images/logo_bg.jpg");
    float: left;
    height: 69px;
    width: 226px;
}
#logout{
    background-color: #E6E6E6;
    float: right;
    height: 69px;
    margin-right: 5px;
    width: 100px;
}
#logout_icon{
    float: left;
    height: 30px;
    margin-top: 13px;
    width: 99px;
}
.spanLogout{
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100px;
}
.logOut{
    font-size: 12px;
    font-weight: bold;
}
#settings{
    background: #E6E6E6;
    float: right;
    height: 69px;
    margin-right: 5px;
    width: 100px;
}
#settings_icon{
    float: left;
    height: 30px;
    margin-top: 13px;
    width: 99px;
}
.spanSettings{
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100px;
}
.settings{
    font-size: 12px;
    font-weight: bold;
}
#users{
    background: #E6E6E6;
    float: right;
    height: 69px;
    margin-right: 5px;
    width: 100px;
}
#users_icon{
    float: left;
    height: 30px;
    margin-top: 13px;
    width: 99px;
}
.spanUsers{
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100px;
}
.users{
    font-size: 12px;
    font-weight: bold;
}
#about{
    background: #E6E6E6;
    float: right;
    height: 69px;
    margin-right: 5px;
    width: 100px;
}
#about_icon{
    float: left;
    height: 30px;
    margin-top: 13px;
    width: 99px;
}
.spanAbout{
    float: left;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100px;
}
.about{
    font-size: 12px;
    font-weight: bold;
}
.wellcomePersonal{
    float: right;
    height: 69px;
    margin-right: 5px;
    width: 200px;
}
#hello {
    height: 30px;
    margin-top: 10px;
    width: 206px;
}
.bodytext{
    color: #505050;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 21px;
}
#hello a{
    font-weight: bold;
    color: #478DA4;
}
.happyGreetings{
    background: #478DA4;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    padding: 5px 5px 0;
    width: 190px;
    text-shadow: 0 0 5px #000000;
}
#arrows{
    background-image: url("../../Media/Images/arrows.jpg");
    float: left;
    height: 69px;
    width: 132px;
}




footer{
    background: none repeat scroll 0 0 #212121;
    box-shadow: 0 20px 20px #000000;
    margin: 0 auto;
    min-height: 50px;
    width: 996px;
}

.divcontainers{
    background: url("../../Media/Images/bg_leftcolumn.jpg");
    min-height: 700px;
    width: 996px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 20px 20px #000000;
}

.leftMenu{
    background: url("../../Media/Images/bg_leftcolumn.jpg");
    min-height: 700px;
    width: 225px;
    float: left;
    overflow: hidden;
}
.mainManager{
    font-size: 13px;
    font-weight: bold;
    margin-top: 1px;
    position: absolute;
    text-transform: capitalize;
    width: 125px;
    z-index: 3;
}
#itemLeftMenu{
    background: url("../../Media/Images/navi_bg.jpg");
    color: #2B7C98;
    height: 300px;
    padding-left: 25px;
    padding-top: 25px;
    position: absolute;
    width: 200px;
}
.itemManager{
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    text-shadow: 0 0 10px;
    text-transform: capitalize;
    width: 125px;
    z-index: 3;
}
.listItem-menu{
    font-size: 13px;
    font-weight: bold;
    list-style-type: none;
    margin: 20px 0 0;
    padding: 30px 0 0;
    text-transform: capitalize;
    width: 200px;
}
.listItem-menu li{
    margin-top: 5px;
    overflow: hidden;
}
.listItem-menu li:hover{
    background: url("../../Media/Images/bg_lbtnHover.png");
    color: #032E3E;
    text-shadow: 5px 5px 10px #032E3E;
}
.listItem-menu li a{
    color: #F1F1F1;
    float: left;
    height: 30px;
    padding-left: 5px;
    padding-top: 8px;
    text-shadow: 0 0 10px #000000;
    width: 161px;
}
.listItem-menu li a:hover{
    color: #FFFFFF;
    text-shadow: 0 0 5px #000000;
}
.leftMenuActive{
    background: url("../../Media/Images/bg_lbtnHover.png");
}
.listItem-menu .leftMenuActive a{
    color: #000000;
    text-shadow: 0 0 10px #000000;
}
.listItem-menu .leftMenuActive a:hover{
    color: #000000;
}

.main{
    background: #F1F1F1;
    min-height: 700px;
    width: 771px;
    margin: 0 auto;
    float: left;
}
/*#divTopMenu{
    background: url("../../Media/Images/table_bg.jpg") repeat scroll 0 0 transparent;
    height: 40px;
    margin: 0;
    overflow: hidden;
    width: 771px;
}*/
#divTopMenu{
    background: none repeat scroll 0 0 #52727B;
    height: 40px;
    margin-top: 2px;
    overflow: hidden;
    width: 771px;
}
#divTopMenu ul{
    float: left;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
#divTopMenu ul li{
    float: left;
    height: 40px;
    list-style-type: none;
}

#divTopMenu ul li a{
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    height: 31px;
    padding: 9px 15px 0;
    margin-right: 1px;
    text-shadow: 0 0 5px #000000;
}
#divTopMenu ul li a:hover{
    background-color: #52727B;
    background-repeat: repeat-x;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F1F1), to(#52727B));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #52727B, #F1F1F1);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #52727B, #F1F1F1);

    /* IE 10 */
    background: -ms-linear-gradient(top, #52727B, #F1F1F1);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #52727B, #F1F1F1);
    color: #032E3E;
    text-shadow: 0 0 5px #000000;
}
.topMenuActive{
    background-color: #52727B;
    background-repeat: repeat-x;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F1F1), to(#52727B));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #52727B, #F1F1F1);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #52727B, #F1F1F1);

    /* IE 10 */
    background: -ms-linear-gradient(top, #52727B, #F1F1F1);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #52727B, #F1F1F1);
}
#divTopMenu ul li .topMenuActive{
    color: #000000;
}


.contents{
    float: left;
    min-height: 660px;
    padding-top: 15px;
    width: 771px;
}
