@import url(/Media/Css/FontExtend/FontFace.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
select{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 100px;
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
a img{
    border: none;
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    color: #404040;

    background-repeat: no-repeat;
}

#page {
    width: 100%;
}

header#heads {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#page header .content {
    width: 996px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

#page .bodyContent {
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
    position: relative;
    float: left;
}
#page .Inside{
    width: 996px;
    margin: 0 auto;
}
#page .bodyContent .Inside .left{
    width: 200px;
    margin-right: 8px;
    display: block;
    background-color: red;
    height: 30px;
    border:1px solid #D3D3D3;
    background: #fff;
    min-height: 700px;
    float: left;
}
#page .bodyContent .Inside .left .titleCate h2{
    border-bottom: 2px solid #404040;
    display: block;
    font-size: 14px;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    width: 92%;
    font-weight: bold;
    font-family: arial;
}
#page .bodyContent .Inside .right{
    width: 777px;
    display: block;
    float: left;
}
.wrapperTopSearch{
    background: none repeat scroll 0 0 #404040;
    color: #FFFFFF;
    float: left;
    margin-bottom: 15px;
    margin-left: 4px;
    margin-top: 10px;
    padding-bottom: 25px;
    width: 96%;
}
.wrapperTopSearch .inside{
    padding: 10px;
}
.wrapperTopSearch .inside .boxContentSearch{
    width: 200px;
    float: left;
    margin-right: 50px;
}
.wrapperTopSearch .inside .searchBtn button{
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    display: inline-block;
    float: right;
    margin-top: 10px;
    text-align: right;
    cursor: pointer;
}
.wrapperTopSearch .inside .searchBtn button:hover{
    background-color: #d1d0d1;
}
.wrapperTopSearch .titleSearch h2.p-search{
    border-bottom: 1px solid #FF5F3F !important;
    display: block !important;
    font-family: verdana !important;
    font-size: 15px !important;
    font-weight: normal !important;
    padding-bottom: 3px !important;
    padding-left: 2px !important;
    width: 89% !important;
}
.wrapperTopSearch .inside .boxContentSearch label{
    display: block;
    font-size: 12px !important;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 8px;

}
.wrapperTopSearch .inside .boxContentSearch select{
    width: 178px !important;
}
.contentProductShow{
    background-color: #FFFFFF;
    border: 1px solid #D1D0D1;
    min-height: 400px;
    padding-left: 11px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 97%;
    float: left;
}
.contentProductShow .productContent{
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.contentProductShow .contentpagingtop{
    display: block;
    height: 30px;
    padding-top: 15px;
}

.contentProductShow .productContent .items{
    float: left;
    height: 367px;
    width: 182px;
    cursor: pointer;
    margin-right: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #d1d0d1;
    margin-top: 10px;
    padding: 3px;
}

.contentProductShow .productContent .items .sizeH{
    background: none repeat scroll 0 0 #404040;
    margin-left: -3px;
    opacity: 0.8;
    padding-bottom: 6px;
    margin-top: 10%;
    padding-top: 6px;
    position: absolute;
    width: 180px;
    z-index: 1;
    display: none;
}
.contentProductShow .productContent .items:hover .sizeH{
    display: block;
}
.contentProductShow .productContent .items .sizeH label{
    color: #fff;
    margin-left: 2px;
    font-family: Helvetica Neue Medium;
}
.contentProductShow .productContent .items:hover{
    border: 1px solid #d1d0d1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.contentProductShow .productContent .items .opImage{

}
.contentProductShow .productContent .items .opnameProduct{
    display: block;
    font-size: 12px;
    margin-top: 2px;
    padding-left: 5px;
    border-bottom: 1px dotted #404040;
    padding-bottom: 3px;
    color: #404040;
}
.contentProductShow .productContent .items .opDescription{
    display: block;
    font-size: 11px;
    margin-top: 2px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: #404040;
}
.contentProductShow .productContent .items .opOldPrice{
    display: block;
    font-size: 12px;
    margin-top: 2px;
    padding-left: 5px;
    padding-bottom: 3px;
    font-family: Helvetica Neue Medium;
    text-decoration: line-through;
    color: #404040;
}
.contentProductShow .productContent .items .opCurrentPrice{
    display: block;
    font-size: 13px;
    margin-top: 2px;
    padding-left: 5px;
    padding-bottom: 3px;
    font-family: Helvetica Neue Medium;
    color: #dc2606;
}
.contentProductShow .productContent .items .deestoreKy{
    display: block;
    font-size: 13px;
    margin-top: 2px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: #d1d0d1;
    text-align: right;
}

.contentProductShow .productContent .items .opImage .salepercent{
    background: url("../Image/Icon/discountFlag.png") no-repeat scroll 0 0 transparent;
    height: 25px;
    position: absolute;
    width: 50px;
}
.contentProductShow .productContent .items .opImage .salepercent span{
    font-size: 12px;
    margin-left: 2px;
    color: #fff;
}
.contentProductShow .productContent .items .opImage img{
    border: medium none;
    display: block;
    height: 252px;
    width: 172px;
}
.contentProductShow .contentpagingtop .sleft{
    float: left;
    width: 50%;
}
.contentProductShow .contentpagingtop .sright{
    float: left;
    text-align: right;
    width: 50%;
}
.contentProductShow .contentpagingtop .sright a{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
    border:1px solid #d1d0d1;
    color: #000;
}
.contentProductShow .contentpagingtop .sright a:hover{
    border:1px solid #404040;
    color: #dc2606;
}
#page header .content .topBar {
    width: 100%;
}

#page header .content .topBar .logo {
    background-color: #404040;
    display: inline-block;
    height: 95px;
    top: 30px;
    width: 108px;
    padding-left: 5px;
    padding-top: 20px;
}
#page header .content .topBar .logo h2{
    color: #fff;
    font-family: Helvetica Neue Thin;
    font-size: 18px;
}
#page header .content .topBar .search {
    width: 875px;
    display: inline-block;
    float: right;
}
#page header .content .topBar .contentTopRight{
    font-family: arial;
    font-size: 12px;
    margin-top: 8px;
    position: absolute;
    right: 12px;
    text-align: right;
    top: 0;
}
#page header .content .topBar .search .menuTop{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.menuTop ul.mnTop{
    list-style-type: none;
}
.menuTop ul.mnTop li{

}
.menuTop ul.mnTop li:first-child a{
    border-left: 1px solid #D1D0D1;
}
.menuTop ul.mnTop li a{
    border-right: 1px solid #D1D0D1;
    color: #404040;
    font-family: "sans-serif";
    font-size: 16px;
    font-style: italic;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
    float: left;
}.menuTop ul.mnTop li a:hover{
    color: #dc2606;
}

#page header .content .topBar .search label button#btnsearch {
    background: none repeat scroll -706px -500px #404040;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    padding-left: 15px;
    text-transform: uppercase;
}

input.searchTopMain {
    color: #404040;
    height: 26px;
    width: 310px;
    font-size: 1.2em;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    font-weight: normal;
}

input.searchTopMain[placeholder] {
    font-size: 14px;
    color: #B4B4B4;
}

#page header .content nav#menu {

    display: block;
    float: left;
    margin-top: 20px;
    width: 100%;
    background-color: #404040;
}

#page header .content nav#menu .contentMenu {
}

#page header .content nav#menu .contentMenu ul {
    list-style-type: none;
}

#page header .content nav#menu .contentMenu ul.parent li {
    margin-right: 3px;
}

#page header .content nav#menu .contentMenu ul.parent li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: "Helvetica Neue Medium", Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-right: 1px;
    min-width: 40px;
    padding: 6px 8px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 7px;
}

#page header .content nav#menu .contentMenu ul.parent li a:hover {
    color: #DC2606;
    background-color: #fff;
}

#page header .content nav#menu .contentMenu ul.parent li a.home {
    background-image: url("../Image/Icon/homeIcon.png");
    background-repeat: no-repeat;
    height: 17px;
    min-width: 20px !important;
}

#page header .content nav#menu .contentMenu ul.parent li a.home:hover {
    background-position: 0 -26px;
}

#page header .content nav#menu .contentMenu ul.parent li a.active {
    background-color: #fff;
    color: #dc2606;
}

#page header .content nav#menu .contentMenu ul.parent li ul.child {
    display: block;
    float: left;
    width: 100%;
    background-color: #494949;
}

#page header .content nav#menu .contentMenu ul.parent li ul.child li a {
    background-color: #494949;
    font-size: 12px;
    font-family: Helvetica Neue Medium, arial;
    text-transform: uppercase;
}

#page header .content nav#menu .contentMenu ul.parent li ul.child li a:hover {
    background-color: #7b777b;
}

footer {
    background-color: #FFFFFF;
    bottom: 0 !important;
    margin-top: 10px;
    min-height: 160px;
    width: 100%;
    padding-top: 10px;
    float: left;
    border-top: 1px solid #D1D0D1;
}

footer .content .contentFooterLeft {
    display: inline-block;
    width: 69%;
}

footer .content .contentFooterLeft ul.menuBasicFooter {
    list-style-type: none;
}

footer .content .contentFooterLeft ul.menuBasicFooter li {
}

footer .content .contentFooterLeft ul.menuBasicFooter li a {
    border-right: 1px solid #595757;
    color: #595757;
    display: block;
    float: left;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
footer .content .contentFooterLeft ul.menuBasicFooter li a:hover {
    color: #dc2606;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

footer .content .contentFooterLeft ul.menuBasicFooter li:last-child a {
    border-right: none;
}

footer .content .contentFooterLeft .inforsite {
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
}

footer .content .contentFooterRight {
    display: inline-block;
    width: 30%;
    text-align: right;
}

footer .content {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 996px;
}

.byacn {
    font-family: Helvetica Neue Medium,arial;
    font-size: 12px;
    color: #dc2606;
}
.byacn:hover {
    text-decoration: underline;
}
.TopSiteMap{
    color: #525152;
    display: inline-block;
    float: left;
    font-family: a;
    font-size: 14px;
    margin-top: 3px;
    padding-left: 5px;
    padding-top: 8px;
    width: 100%;
}
.TopSiteMap a{
    color: #404040;
}

ul.menuLeft{
    list-style-type: none;
}

ul.menuLeft li ul{
    list-style-type: none;
}

ul.menuLeft li a{
    padding-left: 20px;
    padding-top: 10px;
    display: block;
    color: #000;
}
ul.menuLeft li a:hover{
    color: #dc2606 !important;
}
ul.menuLeft li a.active{
    color: #dc2606 !important;
}
ul.menuLeft li ul li a{
    padding-left: 35px;
    font-size: 13px;
    font-family: "Helvetica Neue Medium",Helvetica,Arial,sans-serif;;
}
ul.menuLeft li ul li a:hover{
    color: #dc2606 !important;
}

#mask {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 999;
}

#unmask {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 999;
}

.loadPanel{
    background: url("/Media/Image/Icon/ajax-loading.gif") no-repeat scroll 0 0 #D1D0D1;
    display: none;
    height: 32px;
    right: 50%;
    position: fixed;
    top: 0;
    width: 32px;
    z-index: 1;
}
.warpperDetails{
    border: 1px solid #d1d0d1;
    display: block;
    float: left;
    padding: 10px;
    background-color: #fff;
}
.warpperDetails .leftDetails{
    width: 480px;
    display:block;
    float: left;
}
.warpperDetails .leftDetails .description h3{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
}
.warpperDetails .leftDetails .inforProduct{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}
.warpperDetails .leftDetails .inforProduct .size{

}
.warpperDetails .leftDetails .inforProduct .size a{
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 3px;
    color: #404040;
    font-size: 12px;
    background-color: #dc2606;
    color: #fff;
}
.warpperDetails .leftDetails .inforProduct .size a:hover{
    background-color: #404040;
}
.warpperDetails .leftDetails .inforProduct .price .oldPrice{
    display: block;
    margin-top: 10px;
    text-decoration: line-through;
}
.warpperDetails .leftDetails .inforProduct .price .currentPrice{
    color: #dc2606;
    display: block;
    margin-top: 5px;
}
.warpperDetails .leftDetails .inforProduct .price{
    display: block;
    margin-top: 20px;
}
.warpperDetails .rightDetails{
    display:block;
    float: left;
    padding-left: 65px;
}
.warpperDetails .rightDetails .contentImageSLide .slideSmalIcon .smallImg img{
    width: 40px;
    border: 1px solid #d1d0d1;
    padding: 3px;
    cursor: pointer;
}
.warpperDetails .rightDetails .contentImageSLide .mainImgSlide{
    float: left;
}
.warpperDetails .rightDetails .contentImageSLide .slideSmalIcon{
    float: left;
    margin-left: 5px;
    width: 50px;
}
.warpperDetails .rightDetails .contentImageSLide .slideSmalIcon .smallImg{
    width: 50px
}
.warpperDetails h2.titleDetails{
    font-weight: normal;
    font-size: 26px;
    line-height: 1.35em;
}
.product-ship{
    border-top: 1px solid #D1D0D1;
    display: block;
    float: left;
    margin-top: 5px;
    min-height: 500px;
    width: 773px;
}
.product-ship h2.titleShip{
    color: #404040;
    font-size: 17px;
    font-weight: normal !important;
    padding: 10px;
}
a.styleAMenuTop:hover{
    color: #fff !important;

}
a.styleAMenuTop{
    float: right !important;  
    background: none repeat scroll 0 0 #DC2606 !important;
    font-family: cursive !important;
    font-size: 12px !important;
    font-weight: normal !important;
    margin-right: -3px !important;
    padding-bottom: 7px !important;
    display: block;
}